<form class="form" method="POST" action="/create/{{theme}}">

  <label for="adjective1">enter a {{theme}} adjective (describing word):</label>
  <input type="text" name="adjective1"><br>

      <label for="adjective2">enter another {{theme}} adjective:</label>
  <input type="text" name="adjective2"><br>

  <label for="noun">enter a {{theme}} noun (naming word):</label>
  <input type="text" name="noun"><br>

  <label for="verb">enter a {{theme}} verb (doing word, present tense):</label>
  <input type="text" name="verb"><br>

  <label for="animal">enter a {{theme}} animal:</label>
  <input type="text" name="animal"><br>

  <label for="sound">enter a {{theme}} exclamation or sound:</label>
  <input type="text" name="sound"><br>



  <button type="submit">create story!</button>

</form>

{{!-- "theme": "spooky",
    "noun": "ghostdog",
    "verb": "skeletondances",
    "adjective": "scary",
    "word": "boo!" --}}